.category-section {
  background: #f6f6f6;
  padding: 60px 0;
}

.container {
  width: 90%;
  margin: auto;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.category-header h2 {
  font-size: 28px;
  margin-bottom: 5px;
}

.category-header p {
  color: #777;
}

.view-all {
  color: #22c55e;
  font-weight: 500;
  cursor: pointer;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
  text-align: center;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease;
}

.circle {
  width: 160px;
  height: 160px;
  background: #eaeaea;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  transition: 0.3s ease;
}

.circle img {
  width: 90px;
}

.category-item p {
  font-weight: 500;
}

.category-item:hover .circle {
  background: #22c55e;
}

.category-item:hover p {
  color: #22c55e;
}


@media (max-width: 1200px) {
  .category-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .category-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .category-header {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .category-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .circle {
    width: 120px;
    height: 120px;
  }
}