.hero {
  /* border: 2px solid black; */
  height: 90vh;
  background-size: cover;
  background-position: center;
}

.overlay {
  /* border: 2px solid yellow; */
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
}

.hero-text {
  /* border: 2px solid white; */
  color: white;
}

.tag {
  /* border: 2px solid black; */
  color: #22c55e;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 600;
}

.hero-text h1 {
  /* border: 2px solid black; */
  font-size: 64px;
  line-height: 1.1;
  margin: 20px 0;
}

.hero-text h1 span {
  color: #22c55e;
}

.hero-text p {
  /* border: 2px solid black; */
  font-size: 18px;
  margin-bottom: 30px;
  color: #ddd;
}

.hero-buttons {
  /* border: 2px solid red; */
  display: flex;
  gap: 20px;
}

.btn-primary {
  background: #22c55e;
  border: none;
  padding: 14px 28px;
  border-radius: 40px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.btn-outline {
  background: transparent;
  border: 2px solid white;
  padding: 14px 28px;
  border-radius: 40px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 992px) {
  .hero-text h1 {
    font-size: 48px;
  }
}

@media (max-width: 768px) {

  .col-6 {
    flex: 0 0 100%;
  }

  .hero-text {
    text-align: center;
  }

  .hero-buttons {
    flex-direction: column;
  }

  .btn-primary,
  .btn-outline {
    width: 100%;
  }

  .hero-text h1 {
    font-size: 34px;
  }
}