.summer-section {
  padding: 60px 0;
  /* background: #f3f4f6; */
}

.summer-banner {
  /* border: 2px solid black; */
  width: 92%;
  margin: auto;
  height: 420px;
  border-radius: 28px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.dark-overlay {
  /* border: 2px solid red; */
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right, rgba(55, 65, 81, 0.95) 0%, rgba(55, 65, 81, 0.9) 35%, rgba(55, 65, 81, 0.6) 55%,
    transparent 75%
  );
}

.banner-content {
  /* border: 2px solid blue; */
  position: absolute;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
  max-width: 520px;
  color: white;
  z-index: 2;
}

.tag {
  /* border: 2px solid violet; */
  color: #22c55e;
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: 600;
  margin-bottom: 20px;
}

.banner-content h2 {
  /* border: 2px solid orange; */
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 25px;
  line-height: 1.2;
}

.banner-content p {
  /* border: 2px solid orangered; */
  color: #e5e7eb;
  margin-bottom: 35px;
  line-height: 1.7;
}

.explore-btn {
  background: #f3f4f6;
  color: #111827;
  padding: 14px 30px;
  border-radius: 14px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.explore-btn:hover {
  background: white;
}


@media (max-width: 992px) {
  .banner-content {
    left: 40px;
  }

  .banner-content h2 {
    font-size: 32px;
  }
}

@media (max-width: 600px) {
  .summer-banner {
    height: 350px;
  }

  .dark-overlay {
    background: rgba(55, 65, 81, 0.85);
  }

  .banner-content {
    left: 25px;
    right: 25px;
    max-width: 100%;
  }
}